@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
} 

.navSection{
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  padding: 0 40px;
}

.user{
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

.proSection{
  display: flex;
  margin-top: 10px;
  
  
}

.imgBox{
  width: 80%;
  display: flex;
  justify-content: center;
  
}

.proImg{
  width: 75%;
  
  object-fit:cover;
}

.proImgMobile{
  width: 60%;
  
}
.subMenu{
  height: 50px;
  background-color: rgb(180, 140, 140);
  color: azure;
  margin-bottom: 20px;
}
.subMenu ul li{
  list-style: none;
  cursor: pointer;
}

.subMenu ul{
  display: flex;
  justify-content: space-around; 
  padding-top: 14px;
}

.ind-section{
  display: grid;
  grid-template-columns: repeat(4, 35%);
  justify-content:space-evenly;
  gap: 10px;
}

.page-div{
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  
  padding: 10px;
}
.page-img{
  width: 100%;
}

.full-section{
  display: flex;
  gap: 30px;
  width: 100%;
  max-width: 100%;
}
.pro-selected{
  width: 10%;
  margin-left: 20px;

}
.filters{
  margin: 5px;  
}

.spinner{
  display: flex;
  justify-content: center;
  padding-top: 150px;
  height: 100vh;
  width: 100%;
}

.pageSpinner{
  display: flex;
  justify-content: center;
  padding-top: 150px;
  height: 100vh;
  width: 80%;
}