@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
} 

.navSection{
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  padding: 0 40px;
}

.user{
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

.products{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 14px;
}
.product{
  position: relative;
  width: 255px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px;
  border-radius: 10px;
  transition: .3s;

}

.product:hover{
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.image{
  width: 100%;
  height: 78%;
  display: grid;
  place-items: center;
}
.image img{
  width: 160px;
  height: 100%;
}
.namePrice{
  width: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
.namePrice h3{
  font-size: larger;
  text-transform: capitalize;
  color: rgb(65, 12, 12);
  margin-right: 3px;
}
.namePrice span{
  font-size: 16px;
  font-style: italic;

}
.namePrice div{
  display: flex;
   flex-direction: row;  
}
.namePrice div h4{
  padding-top: 3px;
  width: 10ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
   margin-right: 0;
   padding-right: 0;
}

.product p{
  width: 30ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 25px;
}
.stars{
  font-size: 14px;
}
.buy{
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.buy button{
  padding: 3px 7px;
  border-radius: 7px;
  border: none;
  background-color: rgb(53, 48, 48);
  font-size: 13px;
  text-transform: capitalize;
  cursor: pointer;
  transition: .5s;
  color: bisque;
}

.buy button:hover{
  transform: scale(1.1);
}

.subMenu{
  height: 50px;
  background-color: rgb(180, 140, 140);
  color: azure;
  margin-bottom: 20px;
}
.subMenu ul li{
  list-style: none;
  cursor: pointer;
}

.subMenu ul{
  display: flex;
  justify-content: space-around; 
  padding-top: 14px;
}

.ind-section{
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-content:space-evenly;
}

.ind-section .product{
  margin-top: 20px;
}

.page-div{
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  
  padding: 10px;
}
.page-img{
  width: 100%;
}

.full-section{
  display: flex;
  gap: 30px;
  width: 100%;
  max-width: 100%;
}
.pro-selected{
  width: 10%;
  margin-left: 20px;

}
.filters{
  margin: 5px;  
}

.spinner{
  display: flex;
  justify-content: center;
  padding-top: 150px;
  height: 100vh;
  width: 100%;
}

.pageSpinner{
  display: flex;
  justify-content: center;
  padding-top: 150px;
  height: 100vh;
  width: 80%;
}

a {
  text-decoration: none;
  color:black
}